application = "signal"
repository = 'git://github.com/dcrec1/signal.git'
hosts = ['hooters', 'geni']
path = '/opt'

# OPTIONALS

user = 'dcrec1'                            # default deploy
ssh_opts = '-A'                            # default empty
branch = 'production'                      # default master
sudo = true                                # default false
cache_dirs = ['public/cache', 'tmp/cache'] # default ['public/cache']

# Use this if you want to skip some steps on update and setup
# Available options: install_gems, migrate_database, clear_cache
# This feature is also available on command line
# eg. rake inploy:update:remote skip_steps=install_gems

skip_steps = ['install_gems' , 'clear_cache']    # default none
